body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}
#app > div > div:nth-child(2) {
  background-color: white;
}

#app > div > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > h4 {
  color: #00bcd4;
}
nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

.MuiTypography-body1 {
  color: white;
}

.MuiTypography-root.MuiTypography-colorSecondary a {
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.heroImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
}

.featured-products-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cart-row {
  width: 45%;
  background-color: white;
  font-family: arial;
  margin-left: 30px;

  height: 80%;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total {
  margin-left: 925px;
}

.shipping {
  margin-left: 930px;
}

.tax {
  margin-left: 893px;
}

.grandTotal {
  margin-left: 906px;
}

.quantity-input {
  width: 50px;
  height: 30px;
  margin-top: 16px;
}

.order-row {
  width: 45%;
  background-color: white;
  font-family: arial;
  margin-left: 30px;

  height: 80%;
  padding: 10px 15px 15px 15px;
  border-radius: 10px;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
